# Python
__pycache__/
*.py[cod]
*.pyc

# Environments
.venv/
venv/
ENV/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Data / models
models/*.pt
uploads/

# Notebooks
*.ipynb_checkpoints/
